h1 {
    font-family: 'Edu SA Beginner', cursive;
    color:whitesmoke;
    margin-left: 1.5%;
}

h2 {
    font-family: 'Edu SA Beginner', cursive;
    color:whitesmoke;
    margin-left: 1.5%;
}

p {
    font-family: 'Edu SA Beginner', cursive;
    color:whitesmoke;
    margin-left: 1.5%;
}

body {
    background-color: #121212;
}